$bg-color: #f9f9f9;
$shadow-shade: #aaaaaa;
$border-color: rgba(0, 0, 0, 0.14);
$theme-shade: #0061f2;
$ln-gr: rgba(105, 0, 199, 0.8);
$white: #fff;
$head-color: #beb7f3ba;
$text-color: #687281;
$link-color: #1f2d41;
$warning: #7c9aef4f;
$temp-color: #6900c7;
$sky-color: #0061f2;
$wind-color: #f4a100;
$pressure-color: #00ac69;
